
.sidenav {
  &__bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width: 240px;
    overflow-x: auto;
    background: black;
    z-index: 4;
    &--right {
      left: inherit;
      right: 0px;
      .sidenav__toggle {
        margin-left: auto;
      }
    }
  }
  &__toggle {
    display: block;
    margin: 5px;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    color: red;
    margin: 10px 30px 5px 30px;
    font-size: 16px;
    border-bottom: 2px solid red;
    padding: 2px;
  }
  &__link {
    display: block;
    color: white;
    margin: 0px 25px;
    padding: 5px 15px 5px 0px;
    font-size: 16px;
    background-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  &__backdrop {
    opacity: 0.5;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 100%;
  }
}

// Fade left
.fade-enter-active {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
}
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Fade left
.faderight-enter-active {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: 0.5s;
}
.faderight-leave-active {
  transition: opacity .5s;
}
.faderight-enter, .faderight-leave-to {
  opacity: 0;
}


// Anim left
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// Anim right
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}